@import url('https://fonts.googleapis.com/css?family=Open+Sans:600');

/* Chaange the artboard size here */
:root {
  --width: 1280px;
  --height: 1000px;
}


body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  background: #eff2f7;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

h1 {
  margin-top: 70px;
  color: #a0a7b2;
}



.artboard {
  cursor:pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--width);
  height: var(--height);
  background: #fff;
  margin: 40px auto;
  border-radius: 15px;
  box-shadow: 0px 20px 30px -10px rgba(39, 57, 86, .2);
  position: relative;
}

.svg {
  width: 100%;
  height: 100%;
}

.svg-wrapper {
  width: 1000px;
  height: 650px;
}